{% extends "layout.html" %}

{% block title %}
    Cancel Bookings
{% endblock %}

{% block main %}
    <div class="homepage">
        <h1>Cancel Meetups:</h1>
        <p class="hours">Below are your meetups. Click "cancel" to cancel a meetup.</p>
    </div>

    <p>  </p>

    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Time</th>
                <th>Status</th>
                <th>Matched With</th>
                <th>Email</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for i in range(size) %}
                <tr>
                    <td>{{ dates[i] }}</td>
                    <td>{{ times[i] }}</td>
                    <td>{{ statuses[i] }}</td>
                    <td>{{ partners[i] }}</td>
                    <td>{{ emails[i] }}</td>
                    <td>
                        <form action="/cancel" method="POST">
                            <input hidden type="text" value="{{ q_ids[i] }}" name="cancel">
                            <input type="submit" value="Cancel">
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table> 
{% endblock %}