{% extends "layout.html" %}

{% block title %}
    Profile
{% endblock %}

{% block main %}
    <div class="profile">
       <h1>Profile: </h1>
       <p class="profile"><strong> First Name:</strong> {{first_name}} </p>
       <p class="profile"><strong>Last Name:</strong> {{last_name}} </p>
       <p class="profile"><strong>Username:</strong> {{username}} </p>
       <p class="profile"><strong>Email:</strong> {{email}} </p>

       <h5 style="text-align: left; 
        margin-left: 20px;">Change first or last name:</h5>
        <form class="register" action="/profile" method="post">
        <div class="mb-3">
        <select class="form-select mx-auto w-auto" id="name" name="name">
            <option value="First_Name">First Name</option>
            <option value="Last_Name">Last Name</option>
        </select>
        </div>
        <div class="mb-3">
        <input class="form-control mx-auto w-auto" id="new_name" name="new_name" placeholder="Input New Name" type="text">
        </div>
        <div class="mb-3">
        <input class="form-control mx-auto w-auto" id="username" name="username" placeholder="Username" type="text">
        </div>
        <div class="mb-3">
        <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Change</button>
        </form>
    </div>

{% endblock %}